.CardDiscount__Flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.CardDiscount__Layout {
  height: 60vh;
  width: 75vh;
  border: 2px solid black;
  border-radius: 23px;
  margin-top: 10px;
}
