@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300&family=Roboto+Mono&family=Roboto+Slab:wght@700&display=swap");

.Font_Heading {
  font-family: "Belanosima", sans-serif;
}

.Font_History_page {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}
