.HistoryCardLayout {
  height: 280px;
  width: 35vh;
  background: linear-gradient(
    90deg,
    hsla(186, 33%, 94%, 1) 0%,
    hsla(216, 41%, 79%, 1) 100%
  );
  border-radius: 8%;
  display: inline-block;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 25px;
  margin-right: 25px;
  cursor:pointer
}
.HistoryCardOveflow {
  height: 80vh;
  overflow-y: scroll;
  margin-left: 60px;
}

.DateTimeLayoutFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.ItemDateTime {
  height: 40px;
  font-size: 18px;
  margin-top: 3px;
}

.OrginalPrice {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
.OrginalPrice > div {
  height: 40px;
}

.DeleteIcon {
  margin-right: 20px;
  float: right;
}
.Loader {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.Loader > div {
  margin-top: 20px;
  height: 40px;
}

.Alert_Loader {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.Alert_Loader > div {
  margin-top: 20px;
  height: 40px;
}
.quation {
  margin-left: 10px;
}
